@import '../../styles/spacing';
@import '../../styles/font';

.list-item {
    display: grid;
    grid-template-columns: [lists] 40vw [listinfo] 55vw;
    column-gap: $small-space;
}

.list-item__btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item__btns > button {
    margin: 0 $smallest-space;
}

.list-item__content {
    padding: $big-space 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.list-item__content > h1 {
    @include sub-heading;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.list-item__content > h3 {
    @include sub-heading;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: $big-space;
}

.list-item__content > p {
    margin-top: $big-space;
}

@media (max-width: 768px) {
    .list-item {
        width: 80vw;
        grid-template-columns: 80vw;
        justify-self: center;
    }
}

