@import '../../styles/spacing';

.list-item {
    display: grid;
    grid-template-columns: [lists] 30vw [listinfo] 60vw;
}

.list-item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item__btns > button {
    color: red;
}

@media (max-width: 768px) {
    .list-item {
        width: 80vw;
        grid-template-columns: 80vw;
        justify-self: center;
    }   
}

