@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@mixin header-style {
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 10vw;
};