.modal {
    position: fixed;
    height: 70vh;
    left: 30vw;
    top: 12vh;
    right: 30vw;
    bottom: 12vh;
    background-color: white;
    border: 3px solid black;
    box-shadow: 15px 15px grey;
}