.modal {
    position: fixed;
    height: 80vh;
    left: 15vw;
    top: 12vh;
    right: 15vw;
    bottom: 12vh;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px lightgray;
}