@import '../../styles/font';
@import '../../styles/spacing';

header {
  display: grid;
  place-items: center;
  border-bottom: 1px solid black;
}

.header {
  @include header-style;
}

@media (max-width: 768px) {
  .header {
    font-size: 10vw;
  }
}
