@import '../../styles/font';
@import '../../styles/spacing';

.nav {
    display: grid;
    border-bottom: 1px solid black;
}

.nav__container {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

@media (max-width: 768px) {
    .nav__container {
        width: 90vw;
    }   
}