@import '../../styles/spacing';
@import '../../styles/font';

.home-screen {
    margin-top: $big-space;
    height: 20vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

.home-screen-btns > h1 {
    @include sub-heading;
    font-weight: 400;
}

.home-screen-btns {
    position: fixed;
    width: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    bottom: $big-space;
}

@media (max-width: 768px) {
    .home-screen-btns {
        width: 80vw;
    }
  }