@import './styles/font';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: [header-row] 20vh [nav-row] 10vh [body-row] 70vh [end];
  height: 100vh;
  width: 100vw;
  border: 1px dashed red;
  margin: auto;
}

@media (max-width: 768px) {
  .App {
    width: 100vh;
    height: 100%;
    grid-template-rows: [header-row] 20vh [nav-row] 15vh [body-row] 65vh [end];
  }
}

a {
  @include nav-text;
}

@media (max-width: 600px) {
  a {
    font-size: 6vw;
  }
}

.body {
  background-color: lavender;
}